.form_container_high {
    @extend %flex-center;
    background-image: url(https://www.lavanguardia.com/uploads/2020/12/28/5fe97a7f04aa6.jpeg);
    background-position: 75% 100% ;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
  
    h2 {
      @extend %title-style;
      border-bottom: 1px solid black;
      text-align: center;
      padding: 2rem 0 1rem 0;
    }
  
    fieldset {
      background-color: #f5fafdc7 !important;;
      box-shadow: $box-primary;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 1rem 13rem;
      padding: 2rem 4rem;
      width: 65%;
  
      // .form_control[aria-invalid="true"] {
      //       outline: 2px solid rgb(184, 19, 19);
      // }

      legend {
        font-size: 1.2rem;
        font-weight: bold;
        text-transform: uppercase;
      }
  
      label {
        font-weight: bold;
        margin-top: 1.8rem;
        padding: 0.5rem;
        &.label-required::after {
          content: "(*)";
          color: rgb(184, 19, 19) !important;
          margin-left: 0.5rem;
        }
      }

      .input-msg-error {
        color: rgb(184, 19, 19) !important;
        display: none;

      }
  
      textarea {
        height: 40px;
      }
  
      input {
        background-color: #f5fafd00 !important;;
        border: none;
        font-weight: 900;
        padding: 0.5rem;
        border-bottom: 1px solid black !important;
      }
  
      .div_container {
        display: flex;
        input {
          border: 50%;
        }
      } 
    }
  
    .button_container {
      @extend %flex-center;
      text-align: center !important;
      margin: 0rem 0px 3rem 0px;
      width: 98%;
  
      button {
        background-color: $primary-color;
        font-weight: bold;
        padding: 0.5rem;
        text-transform: uppercase;
      }
    }
  }
  