  .slider_container {
    margin-left: 0px !important;
    position: relative;
    max-width: 100% !important;
    animation: slide 15s infinite alternate ease-in-out;
    ul {
      display: flex;
      padding: 0 !important;
      width: 400%;
      li {
        list-style: none;
        width: 100%;
        position: relative;
        text-align: center;
        @extend %flex-center;
      }
      img {
        width: 100%;
        height: 100% !important;
        height: auto; 
        box-sizing: border-box;
        position: relative; 
      }
    }
    .text_container {
      position: absolute;
      text-align: center;
      display: flex;
      justify-content: center;
      padding: 1.5rem;
      flex-direction: column;
      z-index: 2; /* Asegura que el texto esté por encima de las imágenes */
      color: rgb(13, 13, 23); /* Estilo del texto */
      backdrop-filter: blur(2px);
      border: 1px solid black;
      
    
      h2 {
        font-family: 'Rubik Doodle Shadow', sans-serif !important;
        letter-spacing: 0.3rem;
        font-weight: 900;
        font-size: 3rem !important;
        margin-bottom: 35px;
        text-transform: uppercase;
      }
    
      p {
        width: 100%;
        font-weight: 900;
        padding: 0.5rem 0;
        font-family: 'Lemon', serif;
        backdrop-filter: blur(1px);
      }
    }
  }

  .form_container_contact {
    align-items: center;
    background: linear-gradient(45deg, rgb(244, 246, 242), $primary-color);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.8rem;
  
     .form_element_contact {
       align-items: center;
       background-image: url(/imagenes/contacto.png);
       border: 1px solid black;
       box-shadow: $box-primary;
       display: flex;
       justify-content: center;
       flex-direction: column;
       margin: 0.5rem 1rem;
       padding: 1.5rem;
       width: 50%;
  
     h2 {
      @extend %title-style;
      padding-bottom: 0.5rem;
    }

     label {
      font-size: 1rem;
      font-weight: 900;
      padding: 0.8rem 0rem;
      &.label-required::after {
        content: "(*)";
        color: rgb(184, 19, 19) !important;
        margin-left: 0.5rem;
      }
     }
  
     input, textarea {
       margin: 0.5rem 4rem;
       text-align: center;
       padding: 0.5rem;
       height: 25px;
       font-size: 1rem;
       font-weight: 900;
       border: none;
       border-bottom: 1px solid black;
       width: 60%;
       background-color: rgba(240, 248, 255, 0);
       margin-bottom: 20px !important;
     }

     textarea {
      height: 60px !important;
     }
  
     button {
      background-color: $primary-color;
      font-weight: bold;
      padding: 0.5rem;
      text-transform: uppercase;
     }
  }
  }

  @keyframes slide {
    0%, 20% { transform: translateX(0); }
    30%, 50% { transform: translateX(-100%); }
    60%, 80% { transform: translateX(-200%); }
    90%, 100% { transform: translateX(-300%); }
  }