.section__container {
    align-items: center;
    background: {
      image: url(/imagenes/fondo.jpg);
      size: contain;
      position: 100% 48rem;
      height: 100%;
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3rem 1rem;
    width: 100%;
    height: 24rem;

    h1 {
        @extend %title-style;
        margin-bottom: 8px;
    }

    p {
        font-weight: 900;
        text-transform: uppercase;
    }
  }

  .section2_container {
    @extend %flex-center;
    background-color: aliceblue;
    height: 60vh;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    background-color: $primary-color;

    .section2_element1 {
      @extend %flex-center;
      @extend %section-container;
      background-image: url(https://i.pinimg.com/564x/00/56/b0/0056b02da378ea5d28b54e0ba15525a0.jpg);
      background-repeat: no-repeat;
      
      p {
        @extend %title-style2;
        // backdrop-filter: blur(10px);
        padding: 1.5rem 3rem;
      }
    }

    .section2_element2 {
      @extend %flex-center;
      @extend %section-container;
      background-image: url(https://i.pinimg.com/564x/49/8f/45/498f456f7725b66443dcb62ae0794c36.jpg);
      background-repeat: no-repeat;
  
      p {
        @extend %title-style2;
      }
    }

    .section2_element3 {
      @extend %flex-center;
      @extend %section-container;
      background-image: url(https://i.pinimg.com/564x/f9/5f/ac/f95facb59d05714ee4fa16cf449083a3.jpg);
      background-position: 8% 50% !important;
      background-repeat: no-repeat;
      p {
        @extend %title-style2;
        padding: 0rem 0.2rem;
      }
    }

  }
  