.section__container {
    align-items: center;
    background: {
      image: url(/imagenes/fondo.jpg);
      position: 100% 48rem;
      height: 100%;
    }
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 3rem 1rem;
    width: 100%;
    height: 19rem;

    h1 {
        @extend %title-style;
        text-align: center;
        margin-bottom: 8px;
    }

    p {
        font-weight: 900;
        text-transform: uppercase;
        text-align: center
    }
  }

  .section2_container {
    @extend %flex-center;
    background-color: aliceblue;
    height: 60vh;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    background-color: $primary-color;

    .section2_element1 {
      @extend %flex-center;
      @extend %section-container;
      background-image: url(/imagenes/fondo1.jpg);
      background-repeat: no-repeat;
      
      h3 {
        @extend %title-style2;
        padding: 1.5rem 3rem;
      }
    }

    .section2_element2 {
      @extend %flex-center;
      @extend %section-container;
      background-image: url(/imagenes/fondo2.jpg);
      background-repeat: no-repeat;
  
      h3 {
        @extend %title-style2;
      }
    }

    .section2_element3 {
      @extend %flex-center;
      @extend %section-container;
      background-image: url(/imagenes/fondo3.jpg);
      background-position: 8% 50% !important;
      background-repeat: no-repeat;
      h3 {
        @extend %title-style2;
        padding: 0rem 0.2rem;
      }
    }

  }
  